<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= form_with(url: search_items_path, local: true, method: :get, class:"search-form") do |form| %>
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
      <% form.submit %>
      <%= image_tag "search.png", class:"search-icon" %>
    <% end %>
  </div>
  <div class='nav'>
    <div class='lists-left'>
      <div class="category-list" id="category-list">
        <%= search_form_for @i, url: search_category_items_path do |f| %>
          <%= f.label :category_id_eq, 'カテゴリー'  %>
            <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {},{class:"category-search"}) %>
            <%= f.submit ({class:"category-search"}),'検索' %>
        <% end %>
      </div>
 
    </div>
    <ul class='lists-right'>
    <% if user_signed_in?%>
    <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li> 
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else  %> 
    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>

    </ul>
  </div>
</header>