<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <ul class="show-category-hidden" id="category-hidden">
      <li>アクセサリー</li>
      <li>インテリア</li>
      <li>ファッション</li>
      <li>ベビー・キッズ</li>
      <li>ファッション小物</li>
      <li>雑貨</li>
      <li>その他</li>
  </ul>
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price%>
      </span>
      <span class="item-postage">
        <%= '配送料負担' %>
      </span>
    </div>

    <% if current_user == @item.user  %>

    <%= link_to '商品の編集', edit_item_path, method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', item_path, method: :delete, class:'item-destroy' %>

    <%else %>
    <%= link_to '購入申込画面に進む', item_orders_path(@item) ,class:"item-red-btn"%>
    


    <% end %>

    <div class="item-explain-box">
      <span><%= @item.content %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送方法</th>
          <td class="detail-value"><%= @item.shipping_method.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">残り出品数</th>
          <td class="detail-value"><%= @item.joint_buying.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <div class="item-explain-box">
      <div class="main-comment">質問一覧</div>
        <div class="comment-box">
          <% if @comments %>
            <% @comments.each do |comment| %>
                <div class="comment-name"><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></div>
                <div class="comment-show-text"><%= comment.text %></div>
            <% end %>
          <% end %>
        </div>
    </div>
    <%= form_with(model: [@item, @comment], local: true) do |form| %>
      <%= form.text_area :text, class: "comment-text", placeholder: "一緒に購入する人を集めましょう" %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <span>質問する
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <% form.submit  %>
        </span>
      </button>
    <% end %>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <%=link_to 'トップページへ', root_path%>
</div>

<%= render "shared/footer" %>
